@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$main-font: 'Raleway', sans-serif;
$second-font: 'Space Mono', monospace;

$main-color: #4AD87F;
$dark-color: #3A3A3C;
$ligth-color: #EFEFF4;
$gradient: linear-gradient(90deg, #1D976C 0%, #4AD87F 50%, #1D976C 100%); 
$gradient2: linear-gradient(90deg, #141E30 0%, #243B55 100%); 

$radius: 1em;